/*Colors*/
/*Fonts*/
/*Border*/
/*Breakepoints*/
/*Extends*/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #181818;
  background-image: -webkit-gradient(linear, left top, right top, from(#204A87), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), to(#204A87));
  background-image: linear-gradient(to right, #204A87, black, black, black, black, black, #204A87);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  min-width: 300px;
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.section {
  background-color: #111111;
}

/* Components */
.page-title {
  font-family: "Arial Nova", sans-serif;
  font-size: calc(22px + 2vw);
  text-transform: uppercase;
  position: relative;
}

.section__title {
  font-family: "Arial Nova", sans-serif;
  font-size: 22px;
}

.article__title {
  font-family: "Arial Nova", sans-serif;
  font-size: 18px;
}

.button-container {
  height: 27%;
  width: 100%;
  padding: 8px 0;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-container .button-line {
  float: left;
  height: 4px;
  background-color: #297cf1;
}

.button-container .button-frame {
  height: 4px;
  background-color: transparent;
  border-radius: 3px;
}

.button-container .button-frame button {
  display: none;
}

.button-go {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.button-go:hover {
  background-color: #297cf1;
}

.article__text {
  color: #111111;
  font-family: "Calibri", sans-serif;
  line-height: 150%;
}

.item__text {
  color: #111111;
  font-family: "Calibri", sans-serif;
  line-height: 120%;
  text-align: center;
}

.warbonnets {
  width: 100%;
  position: relative;
  height: 80px;
  font-size: 0;
}

@-webkit-keyframes elemSlider {
  0% {
    height: 0px;
  }
  100% {
    height: 60px;
  }
}

@keyframes elemSlider {
  0% {
    height: 0px;
  }
  100% {
    height: 60px;
  }
}

.content {
  padding: 15px 25px;
}

/* Sections */
.main {
  color: #FFFFFF;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.navbar {
  position: absolute;
  height: 70px;
  width: 100%;
  min-width: 300px;
  max-width: 1300px;
  top: 0;
  left: 0;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
}

.navbar .brand-container, .navbar .hmbr-container {
  position: relative;
  width: 40px;
  height: 70px;
  margin: 0;
}

.navbar .brand-container .brand-frame, .navbar .hmbr-container .brand-frame {
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.navbar .brand-container .brand-frame .brand-img, .navbar .hmbr-container .brand-frame .brand-img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.navbar .brand-container .brand-line, .navbar .hmbr-container .brand-line {
  position: relative;
  margin: 0 auto;
}

.navbar .hmbr-container .hmbr-frame {
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.navbar .hmbr-container .hmbr-frame .hmbr-elem1,
.navbar .hmbr-container .hmbr-frame .hmbr-elem2,
.navbar .hmbr-container .hmbr-frame .hmbr-elem3 {
  position: absolute;
}

.footer {
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 25px;
  padding-top: 25px;
}

.footer .info, .footer .web {
  padding: 15px 25px;
}

.footer .info ul li, .footer .web ul li {
  color: #FFFFFF;
  line-height: 140%;
}

.footer .web {
  color: #919191;
}

.footer .web ul li {
  color: inherit;
}

/*Pages*/
/*1*/
.jumbotron {
  height: 62vh;
  width: 100%;
  position: relative;
  padding-top: calc(35% + 5vh);
}

@media screen and (min-width: 576px) {
  .jumbotron {
    padding-top: calc(15vh);
  }
}

/*
$pwsj-max-xs: 'max-width: 575.99px';
$pwsj-min-sm: 'min-width: 576px';
$pwsj-min-md: 'min-width: 768px';
*/
.crossroad {
  height: 38vh;
}

#about {
  background-color: #FFFFFF;
  font-size: 0;
}

@-webkit-keyframes textSlider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textSlider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes textUnslider {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes textUnslider {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*2*/
/*3*/
/*# sourceMappingURL=style.css.map */