.article__text {
    color: $pwsj-prgraph-color;
    font-family: $pwsj-prgraph-font;
    line-height: 150%;
}

.item__text {
    color: $pwsj-prgraph-color;
    font-family: $pwsj-prgraph-font;
    line-height: 120%;
    margin-bottom: 10px;
}