.page-title {
    font-family: $pwsj-title-font;
    font-size: calc(22px + 2vw);
    text-transform: uppercase;
    position: relative;

    @media screen and (min-width: $pwsj-min-md) {
		font-size: 40px;
	}

    @media screen and (min-width: $pwsj-min-xl) {
        font-size: 45px;
    }
}

.section__title {
    font-family: $pwsj-title-font;
    font-size: 22px;    
}

.article__title {
    font-family: $pwsj-title-font;
    font-size: 18px;
}