.page-title {
    font-family: $pwsj-title-font;
    font-size: calc(22px + 2vw);
    text-transform: uppercase;
    position: relative;
}

.section__title {
    font-family: $pwsj-title-font;
    font-size: 22px;    
}

.article__title {
    font-family: $pwsj-title-font;
    font-size: 18px;
}