.warbonnets {
    width: 100%;
    position: relative;
    height: 60px;

    &:before {
        content: '';
        position: absolute;
        height: 0px;
        width: 0px;
        border-top: solid 60px $pwsj-black-color;
        border-right: solid 60px transparent;
    }
}