.warbonnets {
    width: 100%;
    position: relative;
    height: 80px;
    font-size: 0;    

    .title-container {        

        @keyframes elemSlider {
            0% {height: 0px;}
            100% {height: 60px}
        }
    }
}