#about {
	background-color: $pwsj-white-color;
	font-size: 0;

	.content {
		@keyframes textSlider {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		@keyframes textUnslider {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}

		@media screen and (min-width: $pwsj-min-md) {

			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			.container {
				flex: 2;
				padding-right: 10px;
				text-align: justify;

				&:last-of-type {
					flex: 1.5;
					padding-left: 20px;
					padding-right: 0px;
					text-align: center;
				}
			}
		}
	}
}