#about {
    background-color: $pwsj-white-color;
    font-size: 0;

    .content {
        @keyframes textSlider {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}