.crossroad {
    height: 38vh;

    @media screen and (min-width: $pwsj-min-md) {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    @media screen and (min-width: $pwsj-min-xl) {
        height: 32vh;
        //padding-top: 10px;
        align-items: center;
    }
}