.navbar {
	position: absolute;
	height: 70px;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;

	.brand-container {
		position: relative;
		width: 40px;
		height: 70px;
		margin: 0;
		//padding-top: 30px;

		.brand-frame {
			position: relative;
			margin: 0 auto;
			border-radius: $pwsj-border-radius;
			-webkit-border-radius: $pwsj-border-radius;
			-moz-border-radius: $pwsj-border-radius;
			-ms-border-radius: $pwsj-border-radius;
			-o-border-radius: $pwsj-border-radius;

			.brand-img {
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
		}

		.brand-line {
			position: relative;
			margin: 0 auto;
		}
	}

	.hmbr-container {
		@extend .brand-container;

		.hmbr-frame {
			position: relative;
			margin: 0 auto;
			border-radius: $pwsj-border-radius;
			-webkit-border-radius: $pwsj-border-radius;
			-moz-border-radius: $pwsj-border-radius;
			-ms-border-radius: $pwsj-border-radius;
			-o-border-radius: $pwsj-border-radius;

			.hmbr-elem1,
			.hmbr-elem2,
			.hmbr-elem3 {
				position: absolute;
			}
		}
	}
}